.file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: hsl( 180.5  100%  24.7% );
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .file-input input[type=file] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
  }
  
  .file-input:hover {
    background: #2980b9;
  }